cftime>=1.6.4
colorcet>=3.1.0
contourpy>=1.2.1
#cupy>=13.2.0
cuspatial>=0.0.1
dash_core_components>=2.0.0
dash_html_components>=2.0.0
dask_expr>=1.1.9
datamapplot>=0.3.0
geopandas>=1.0.1
ipython>=8.12.3
Jinja2>=3.1.3
js>=1.0
matplotlib>=3.8.4
nbconvert>=7.16.4
nbformat>=5.10.4
nbsite>=0.8.5
nc_time_axis>=1.4.1
networkx>=3.1
notebook>=7.2.1
numba>=0.59.1
numpy~=1.26.4
packaging>=24.1
panel>=1.4.4
param>=2.1.1
Pillow>=10.4.0
playwright>=1.45.1
pooch>=1.8.2
psutil>=5.9.0
pyparsing>=3.1.2
pytest>=8.3.2
pytz>=2024.1
pyviz_comms>=3.0.2
pyzmq>=25.1.2
Requests>=2.32.3
scikit_learn>=1.4.2
scipy>=1.14.0
setuptools>=69.5.1
setuptools_scm>=8.1.0
Shapely>=2.0.5
streamz>=0.6.4
tqdm>=4.66.4
tsdownsample>=0.1.3
vectorizers>=0.2.1
